.viewAppointment-container{
  margin: 0px 80px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.3); /* Added subtle shadow */
  max-width: 1200px; /* Center content */
}


.appointment-table th {
    background-color: #007bff;
    color: white;
    text-align: center;
  }
  
  .appointment-table td {
    vertical-align: middle;
  }
  
  .me-2 {
    margin-right: 8px;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  

  .viewAppointment-text-center {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  